@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

*{
    margin: 0; 
    padding: 20;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

main{
    flex: 1;
}

body{
    background-color: var(--cor-primaria);
    flex-direction: column;
    display: flex;
}

header{
    display: flex;
    gap: 20px;
}

section{
    padding-top: 40px;
    padding-left: 250px;
}

.cabecalho__menu__link{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

nav a{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 50px;
}

nav a:hover{
    color: var(--cor-secundaria);
}

.apresentacao{
    justify-self: center;
    align-items: left;
    height: 80px;
}

h1{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    padding-right: 300px;
    margin-top: 235px;
    font-size: 2.5rem;
}

.apresentacaConteudo{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    margin-left: 50px;
}

.tituloDestaque{
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

.fotoPerfil{
    display: flex;
    align-items: right;
    padding: 50px;
    margin: 50px;
    height: 550px;
    width: 488px;
}

.textoApresentacao{
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    margin-top: 40px;
    font-size: 1.5rem;
    padding-left: 300px;
}

.textoRedes{
    color:var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    padding-left: 355px;
    padding-top: 30px;
}

.linkGithub{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.linkLinkedin{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.linkTwitch{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

footer{
    background-color: #22D4FD;
    font-family: var(--fonte-secundaria);
    padding-right: auto;
    text-align: center;
    align-items: end;
    margin: 50px;
}