@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

*{
    margin: 0; 
    padding: 20;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

main{
    flex: 1;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
}

.cabecalho{
    display: flex;
    justify-self: center;
    align-items: left;
    height: 80px;
}

h1{
    color: var(--cor-secundaria);
    font-size: 25px;
    font-family: var(--fonte-primaria);
    text-align: center;
    margin-bottom: 10px;
}

.cabecalho__menu__link{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.titulo__destaque{
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}

.apresentaacao__conteudo__titulo{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.headerTexto{
    font-family: var(--fonte-primaria);
}

.tituloDestaque{
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);

}

.textoApresentacao{
    color:var(--cor-secundaria);
    font-size: 14px;
    font-family: var(--fonte-secundaria);
    text-align: left;
    margin-bottom: 10px;
}

.linkGithub{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.linkLinkedin{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.linkTwitch{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.nomeRede{
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    text-align: left;
    font-size: 14px;
}

footer{
    background-color: #22D4FD;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}