@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --fonte-primaria: 'Krona One', sans serif;
    --fonte-secundaria: 'Montserrat', sans serif;
}

*{
    margin: 0; 
    padding: 20;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background-color: #000000;
    flex-direction: column;
    display: flex;
}

main{
    flex:1
}

h1{
    color: var(--cor-secundaria);
    font-size: 25px;
    font-family: var(--fonte-primaria);
    text-align: center;
    margin-bottom: 10px;
}

nav{
    padding: 10px;
    text-align: center;
}

nav a{
    color: #22D4FD;
    text-decoration: none;
}

nav a:hover{
    color: #0400ff;
}

.fotoPerfil{
    display: block;
    margin: 0 auto;
    float: right;
    width: 300px;
    height: 300;
    padding: 0 20px;
}

.headerTexto{
    font-family: var(--fonte-primaria);
}

.tituloDestaque{
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);

}

.textoApresentacao{
    color:var(--cor-secundaria);
    font-size: 14px;
    font-family: var(--fonte-secundaria);
    text-align: left;
    margin-bottom: 10px;
}

.linkGithub{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.linkLinkedin{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.linkTwitch{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.nomeRede{
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    text-align: left;
    font-size: 14px;
}

footer{
    background-color: #22D4FD;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}